/* Fuentes personalizadas */
@font-face {
    font-family: anime_ace;
    src: url(/fuentes/anime_ace_bb/animeace2_reg.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: anime_ace;
}
/* Estilo del encabezado */
header {
    background-color: black;
    padding: 20px 0;
    font-family: 'anime_ace';
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between; /* Distribuye el contenido horizontalmente */
    align-items: center; /* Centra verticalmente el contenido */
    margin left: 8px;
}
/* Estilo de navegación */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    gap: 4px;
    font-size: 1.5rem;
}
nav a {
    color: yellow;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px;
    display: inline-block;
}
nav a:hover {
    font-size: 2rem;
}
body{
    height: 100vh;
    background-image: url(/assets/marvel_gif.gif);
    background-size: 170%;
    background-position: center;
    background-repeat: repeat;
}
.container{
    max-width: 1200px;
    margin: 0 auto;

}
.search{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search i{
    font-size: 25px;
    color: white;
}
.search-txt{
    display: flex;
    align-items: center;    
}
.search-txt i{
    font-size: 40px;
    color: #F8010A;
} 
.search-txt h2{
    color: white;
    font-size: 30px;
    margin-left: 10px;
}
.img{
    padding: 50px 0 150px 0;
}
.img h2{
    color: white;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}
.swiper{
    width: 100%;
}
.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 700px;
}
.swiper-slide img{
    display: block;
    width: 100%;
}
.icons{
    padding: 0 350px 50px 350px;
    display: flex;
    justify-content: space-between;
}
.icons i{
    font-size: 25px;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons i:hover{
    color: #F8010A;
    background-color: #FEFEFE;
    box-shadow: 0 0 20PX rgba(245, 241, 241, 0.2);
    cursor: pointer;
} 
.footer {
    font-family: 'anime_ace';
    font-size: 1rem;
    text-align: center;
    color: white;
    padding: 10px;
    width: 100%;
    height: 60px;
    margin-top: auto;
    position: relative;
    bottom: 0;
}
.logo_Desarrollador{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
.logo_Des{
    width: 30%;
}
@media(max-width:991px){
    body{
        min-height: 0vh;
        background-size: cover;
    }
    .search{
        padding: 30px 30px 0 30px;
    }
    .img{
        padding: 30px;
    }
    .icons{
        padding: 30px;
    }
    header {
        padding: 1% 10%; /* Ajusta el padding horizontal para pantallas pequeñas */
        font-size: 1.2rem; /* Ajusta el tamaño de la fuente del encabezado */
        flex-direction: row; /* Mantiene el encabezado en línea horizontal */
        flex-wrap: wrap; /* Permite que el contenido del encabezado envuelva en pantallas más pequeñas */
    }
    nav {
        flex-direction: row; /* Cambia la dirección de los enlaces de navegación a columna */
        align-items: center; /* Centra los enlaces en la columna */
        width: 20%;
        margin-left: 130px;
        gap: 1px;
    }
    .a1{
        font-size: 0.7rem; /* Ajusta el tamaño de la fuente de los enlaces en pantallas pequeñas */
        gap: 1px;
        align-items:center; /* Centra los enlaces en la columna */

    }
    .footer{
        font-size: 0.5rem;
    }
    .logo_Des{
        width: 50%;
    }
}
