/* Fuentes personalizadas */
@font-face {
    font-family: anime_ace;
    src: url(/fuentes/anime_ace_bb/animeace2_reg.ttf);
}
@font-face {
    font-family: Ka_blam;
    src: url(/fuentes/ka_blam/Ka\ Blam.ttf);
}
@font-face {
    font-family: Bazinga;
    src: url(/fuentes/bazinga/Bazinga-Regular.otf);
}

/* Estilos globales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilo del body */
body {
    background-image: url(/assets/papel_antiguo1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    padding-bottom: 100px; /* Espacio al final de la página */
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */
}

/* Estilo del encabezado */
header {
    background-color: black;
    padding: 0% 45%;
    font-family: 'anime_ace';
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between; /* Distribuye el contenido horizontalmente */
    align-items: center; /* Centra verticalmente el contenido */
}
/* Estilo de navegación */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
nav a {
    color: yellow;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
    display: inline-block;
}
nav a:hover {
    font-size: 1.5rem;
}

/* Estilo de imágenes */
img {
    display: block;
    width: 70%;
    margin: auto;
    padding: 40px;
}

/* Estilo para strong */
strong {
    text-decoration: underline;
}

/* Definición de la animación */
@keyframes scale-up {
    0% {
        transform: scale(1); /* Tamaño inicial */
    }
    50% {
        transform: scale(1.2); /* Tamaño aumentado */
    }
    100% {
        transform: scale(1); /* Tamaño final */
    }
}

/* Estilo para contenedor de imágenes */
.image-container {
    background-image: url(/assets/cielo1.png);
    padding: 0;
    width: 70%;
    height: auto; /* Ajusta la altura automáticamente */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 5% auto;
    overflow: hidden; /* Oculta la parte desbordante de la imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilo para el efecto de escala */
.scale-effect {
    animation: scale-up 2s ease-in-out;
    display: block;
    width: 80%; /* Ancho inicial de la imagen */
    height: auto;
    transition: transform 0.5s ease-in-out; /* Transición suave para el cambio de tamaño */
}

.scale-effect:hover {
    transform: scale(1.2); /* Aumenta el tamaño de la imagen en 20% */
}

/* Estilo de listas */
ul {
    list-style-type: none;
}

ul li {
    margin: 10%;
}

/* Estilo de enlaces */
.a1 {
    text-decoration: none;
    padding: 0% 20%;
    font-size: 1.5rem;
}

.a1:hover {
    font-size: 2rem;
}

/* Estilo de botones */
.boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: blue;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 1s, border-color 1s;
}

.boton:hover {
    background-color: red;
    border-color: red;
}
/* Estilos para encabezados */
h2, h3, h4 {
    font-family: 'anime_ace';
    font-weight: bolder;
}

h2, h3, h4 {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

h4 {
    background-color: black;
    color: white;
}

/* Estilo de párrafos */
p {
    font-family: 'anime_ace';
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Estilo de columnas */
.columna {
    padding: 30px;
    box-sizing: border-box;
}

/* Contenedor de columnas */
.contenedor-columnas {
    display: flex;
    gap: 5px;
}

/* Estilo de columna izquierda */
.columna-izquierda {
    width: 20%;
    font-family: 'anime_ace';
    color: white;
    background-image: url('/assets/Comic.png');
    background-size: auto;
    background-position: top left;
    background-repeat: repeat;
    padding: 10px;
    box-sizing: border-box;
    background-attachment: fixed;
}

/* Estilo de columna central */
.columna-central {
    width: 60%;
    padding: 40px;
    margin-bottom: 100px; /* Ajusta este valor si es necesario */
    box-sizing: border-box;
    position: relative;
}

/* Estilo de columna derecha */
.columna-derecha {
    width: 20%;
    font-family: 'anime_ace';
    font-size: 0.5rem;
    color: white;
    background-image: url('/assets/marvel_gif.gif');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    box-sizing: border-box;
    padding: 20px;
}

/* Estilo del logo */
.logo {
    width: 95%;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: rotate(10deg);
}

/* Estilo del título principal */
.titulo-principal {
    display: flex;
    justify-content: center;
    font-family: 'Bazinga';
    font-size: 4rem;
    color: red;
    text-shadow: -3px -2px 0px black;
    margin-bottom: 10px;
}

/* Estilo de títulos izquierdo y derecho */
.titulo-izquierdo, .titulo-derecho {
    display: flex;
    justify-content: center;
}

/* Estilo para el botón "volver al inicio" */
.scroll-to-top {
    font-family: 'anime_ace';
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 1s, border-color 1s;
}

.scroll-to-top:hover {
    background-color: #0056b3;
}

/* Animación para el footer */
@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Estilo de la imagen de Ironman */
.imagen_ironman {
    transition: filter 1s;
    width: 100%;
    height: auto;
}

.imagen_ironman:hover {
    filter: brightness(3.5);
}

/* Estilo del footer */
.footer {
    font-family: 'anime_ace';
    font-size: 1rem;
    text-align: center;
    color: black;
    padding: 10px;
    width: 100%;
    height: 60px;
    margin-top: auto;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    animation: slide 25s linear infinite;
    display: inline-block;
}

/* Estilos generales para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
    header {
        padding: 1% 10%; /* Ajusta el padding horizontal para pantallas pequeñas */
        font-size: 1.2rem; /* Ajusta el tamaño de la fuente del encabezado */
        flex-direction: row; /* Mantiene el encabezado en línea horizontal */
        flex-wrap: wrap; /* Permite que el contenido del encabezado envuelva en pantallas más pequeñas */
    }
    
    .contenedor-columnas {
        flex-direction: column; /* Cambia la dirección del contenedor a columna en pantallas pequeñas */
    }
    
    .columna-izquierda,
    .columna-central,
    .columna-derecha {
        width: 100%; /* Ancho completo para cada columna */
        padding: 10px; /* Ajusta el padding */
    }
    
    .columna-izquierda {
        order: 2; /* Cambia el orden de la columna izquierda en pantallas pequeñas */
    }
    
    .columna-central {
        order: 1; /* Cambia el orden de la columna central para que sea la primera */
    }
    
    .columna-derecha {
        order: 3; /* Cambia el orden de la columna derecha en pantallas pequeñas */
    }
    
    .titulo-principal {
        font-size: 2.5rem; /* Ajusta el tamaño de la fuente del título principal */
    }
    
    .scale-effect {
        width: 100%; /* Asegura que la imagen de escala ocupe el 100% del ancho disponible */
    }
    
    .logo {
        width: 100%; /* Asegura que el logo ocupe el 100% del ancho disponible */
    }
    
    img {
        width: 100%; /* Ajusta el ancho de las imágenes a 100% en pantallas pequeñas */
        padding: 20px;
    }
    
    nav {
        flex-direction: row; /* Cambia la dirección de los enlaces de navegación a columna */
        align-items: center; /* Centra los enlaces en la columna */
        margin:auto;
        gap: 5px;
    }
    .a1{
        font-size: 1rem; /* Ajusta el tamaño de la fuente de los enlaces en pantallas pequeñas */
        gap: 3px;
        align-items:center; /* Centra los enlaces en la columna */

    }
    
    .scroll-to-top {
        font-size: 16px;
        bottom: 20px;
    }
    
    .footer {
        font-size: 0.8rem;
        padding: 10px 5px;
    }
}

/* Estilos para tablets en orientación vertical */
@media (min-width: 768px) and (max-width: 1024px) {
    header {
        padding: 1% 10%;
        font-size: 1.3rem;
    }
    
    .contenedor-columnas {
        flex-direction: row; /* Mantiene la dirección de las columnas en orientación vertical */
    }
    
    .columna-izquierda,
    .columna-central,
    .columna-derecha {
        width: 33.33%;
        padding: 20px;
    }
    
    .columna-central {
        width: 50%;
    }
    
    .titulo-principal {
        font-size: 3rem;
    }
    
    img {
        width: 100%;
        padding: 30px;
    }
    
    .scroll-to-top {
        font-size: 18px;
    }
    
    .footer {
        font-size: 1rem;
        padding: 10px;
    }
}
