@font-face {
    font-family:anime_ace;
    src: url(/fuentes/anime_ace_bb/animeace2_reg.ttf);
}
@font-face {
    font-family:Ka_blam;
    src: url(/fuentes/ka_blam/Ka\ Blam.ttf);
}
@font-face{
    font-family: Bazinga;
    src: url(/fuentes/bazinga/Bazinga-Regular.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/assets/papel_antiguo1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    padding-bottom: 100px; /* Aumenta este valor si es necesario */
    overflow-x: hidden;
}


header {
    background-color: black;
    padding: 1% 30%;
    font-family: 'anime_ace';
    font-size: 1.5rem;
}
img{
    display: block;
    width: 70%;
    margin: auto;
    padding: 40px;
}
strong {
    text-decoration: underline;
}
/* Definición de la animación */
@keyframes scale-up {
    0% {
        transform: scale(1); /* Tamaño inicial */
    }
    50% {
        transform: scale(1.2); /* Tamaño aumentado */
    }
    100% {
        transform: scale(1); /* Tamaño final (vuelve al original) */
    }
}

/* Estilos para el contenedor */
.image-container {
    background-image: url(/assets/cielo1.png);
    padding: 0;
    width: 70%;
    height: auto; /* Ajusta la altura automáticamente para evitar desbordamientos */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 5% auto;
    overflow: hidden; /* Oculta la parte de la imagen que se desborda */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.scale-effect {
    animation: scale-up 2s ease-in-out;
    display: block;
    width: 80%; /* Ancho inicial de la imagen */
    height: auto;

    transition: transform 0.5s ease-in-out; /* Transición suave para el cambio de tamaño */
}

.scale-effect:hover {
    transform: scale(1.2); /* Aumenta el tamaño de la imagen en 20% */
}

ul{
    list-style-type: none;
}
ul li{
    margin: 10%;
}
a{
    text-decoration: none;
    padding: 0% 0% 0% 10%;
    font-size: 1rem;
}
a:hover{
    font-size: 1.5rem;
}
.a2{
    font-size: 1.5rem;
}
.a2:hover{
    font-size: 1.9rem;
}
.boton {
    display: inline-block; /* Permite usar padding y margin */
    padding: 10px 20px; /* Espaciado interno del botón */
    font-size: 1rem; /* Tamaño de la fuente */
    font-weight: bold; /* Grosor de la fuente */
    color: white; /* Color del texto */
    background-color: blue; /* Color de fondo */
    border: 2px solid black; /* Borde del botón */
    border-radius: 5px; /* Esquinas redondeadas */
    text-decoration: none; /* Eliminar subrayado */
    text-align: center; /* Centrar texto */
    transition: background-color 1s, border-color 1s; /* Transiciones para hover */
}

.boton:hover {
    background-color: red; /* Color de fondo al pasar el ratón */
    border-color: red /* Color del borde al pasar el ratón */
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: yellow;
    text-decoration: none;
}
nav a:hover{
    font-size: 1.5rem;
}

h2{
    font-family: 'anime_ace';
    font-size: 1.5rem;
    font-weight: bolder;
}
h3{
    font-family: 'anime_ace';
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 40px;
}
h4{
    font-family: 'anime_ace';
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 40px;
    background-color: black;
    color: white; 
}
p{
    font-family: 'anime_ace';
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.columna {
    padding: 30px;
    box-sizing: border-box;
}
.contenedor-columnas {
    display: flex;
    flex: 1;
    gap: 5px;
}
.columna-izquierda {
    width: 20%;
    font-family: 'anime_ace';
    color: white;
    background-image: url('/assets/Comic.png');
    background-size: auto; /* Mantiene el tamaño original de la imagen */
    background-position: top left; /* Ajusta la posición del fondo */
    background-repeat: repeat; /* Hace que la imagen se repita */
    padding: 10px; /* Opcional: Agrega espacio interior */
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho total */
    background-attachment: fixed; /* Opcional: mantiene la imagen fija al hacer scroll */
}    
.columna-central {
        width: 60%;
        padding: 40px;
        margin-bottom: 100px; /* Ajusta este valor si es necesario */
        box-sizing: border-box;
        position: relative; /* Asegúrate de que el contenedor se comporte como se espera */
    }
.columna-derecha {
    width: 20%;
    font-family: 'anime_ace';
    font-size: 0.5rem;
    color: white;
    background-image: url('/assets/marvel_gif.gif');
    background-size: cover; /* Ajusta el tamaño del GIF */
    background-position: 0; /* Ajusta la posición del GIF */
    background-repeat: repeat;
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho total */
    background-position-x: center; /* Ajusta la posición del fondo */
    padding: 20px; /* Opcional: Agrega espacio interior */
    background-size: 550%;
}
.logo {
    width: 95%;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: rotate(10deg); /* Rote la imagen 10 grados */
}
.titulo-principal{
    display: flex;
    justify-content: center;
    font-family: 'Bazinga';
    font-size: 4rem;
    color: red;
    text-shadow: -3px -2px 0px black;
    margin-bottom: 10px;
}


.titulo-izquierdo,
.titulo-derecho {
    display: flex;
    justify-content: center;
}
.scroll-to-top {
    font-family: 'anime_ace';
    position: fixed; /* Fija el botón en una posición específica */
    bottom: 50px; /* Posición desde el borde inferior */
    left: 50%; /* Posiciona el botón en el medio horizontalmente */
    transform: translateX(-50%); /* Ajusta la posición para que esté realmente centrado horizontalmente */
    background-color: red; /* Color de fondo visible para prueba */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espacio interior del botón */
    font-size: 20px; /* Tamaño del texto grande para prueba */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    display: block; /* Asegura que el botón esté visible */
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
    transition: background-color 1s, border-color 1s;
}
.scroll-to-top:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse sobre el botón */
}
@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }   
}
.imagen_ironman {
    transition: filter 1s; /* Transición suave para el filtro */
    width: 100%; /* Asegura que la imagen no desborde el contenedor */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
}

.imagen_ironman:hover {
    filter: brightness(3.5); /* Efecto de brillo al pasar el ratón */
}
.footer{
    font-family: 'anime_ace';
    font-size: 1rem;
    text-align: center;
    color: black;
    padding: 10px;
    background-color: none;
    width: 100%;
    height: 60px;
    margin-top: auto;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    animation: slide 25s linear infinite;
    display: inline-block;
}
/* Estilos generales para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
    header {
        padding: 1% 5%;
        font-size: 1.2rem;
    }
    
    .contenedor-columnas {
        flex-direction: column;
    }
    
    .columna-izquierda,
    .columna-central,
    .columna-derecha {
        width: 100%;
        padding: 10px;
    }
    
    .columna-izquierda,
    .columna-derecha {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    
    .columna-central {
        width: 100%;
        padding: 10px;
    }
    
    .titulo-principal {
        font-size: 2rem;
    }
    
    .scale-effect {
        width: 100%;
    }
    
    .logo {
        width: 100%;
    }
    
    img {
        width: 100%;
        padding: 20px;
    }
    
    nav {
        flex-direction: column;
        align-items: center;
    }
    
    nav a {
        font-size: 1.2rem;
        margin: 10px 0;
    }
    
    .scroll-to-top {
        font-size: 16px;
        bottom: 20px;
    }
    
    .footer {
        font-size: 0.8rem;
        height: auto;
        padding: 10px 5px;
    }
}

/* Estilos para tablets en orientación vertical */
@media (min-width: 768px) and (max-width: 1024px) {
    header {
        padding: 1% 10%;
        font-size: 1.3rem;
    }
    
    .contenedor-columnas {
        flex-direction: row;
    }
    
    .columna-izquierda,
    .columna-central,
    .columna-derecha {
        width: 33.33%;
        padding: 20px;
    }
    
    .columna-central {
        width: 50%;
    }
    
    .titulo-principal {
        font-size: 3rem;
    }
    
    img {
        width: 100%;
        padding: 30px;
    }
    
    .scroll-to-top {
        font-size: 18px;
    }
    
    .footer {
        font-size: 1rem;
        height: auto;
        padding: 10px;
    }
}
